img{
  height: 70px;
  height: 70px;
}

#game-container {
  position: relative;
  width: 700px;
  height: 700px;
  margin: auto;
  border: 1px solid black;
}

#personaggio {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#polpetta {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-size: cover;
}

#bomb {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-size: cover;
} 
