#body{
  position: relative;   
  background-image: url("../img/home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#start{

  top:280%;
  left: 80%; /*aumento va a destra*/

  width: 200px;
  height: 100px;

  font-size: x-large;
  border: 1px solid rgb(255, 215, 0);
  background-color: rgb(255, 215, 0);

  font-weight: bold;
}

#question{
  top:290%;
  left: 10%; /*aumento va a destra*/
  width: 100px;
  height: 50px;

  font-size: x-large;
  border: 1px solid rgb(255, 215, 0);
  background-color: rgb(255, 215, 0);

  font-weight: bold;
}

#popup{
  position: absolute;
  top: 70%;  
  left: 35%;

  /*overflow:scroll;*/
  
  display: none;

  background-color: whitesmoke;
  height: 400px;
  width: 600px;


  border: 1px solid black;
  border-radius: 5px;
}
#popup.open{
  display: block;
}

#scritta{
  font-size: 20px;
  color: black;
  font-weight: lighter;
}

#a{
  text-decoration: none;
  color: black;
}

header {
  position: relative;
  left: 100px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin: 2%;
}

p {
  font-size:45px;
  color: yellow;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
}

.subtitle{
  position: relative;
  left: 100px;
  top: -20px;
}



.pulsate {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; 
}

@keyframes pulsate {
  0%{
    transform: scale(1);
    opacity: 0.5;
  }
  50%{
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

#principali{
  list-style-type: none;
}

h5{
  padding-left: 2%;
}

/*

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/